<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>
</head>
<body>
<p><h1>Midterm project Readme file</h1></p>
<div><h4>This project leverages the following open APIs and packages
<ol>Flask Web App</ol>
<ol>NLTK python package for natural language interpretaion</ol>
    <ol>Vader Sentiment Analysis</ol>
    <ol>Spacy API to find Nouns in the given sentence</ol>
</h4></div>
<div><h4>
    This project consists of the following code components
    <ol>Python program driving the flask api</ol>
    <ol>HTML files and templates to support different decorator outputs</ol>
    <ol> Hosted on Amazon EC2 for running this as an open service for both the functions - Sentence sentiment analysis and Finding nouns in a given sentence</ol>

</h4></div>
</body>
</html>